<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>exRequestFormServlet</display-name>
    <servlet-name>exRequestFormServlet</servlet-name>
    <servlet-class>servlet.exRequestFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exRequestFormServlet</servlet-name>
    <url-pattern>/exRequestFormServlet</url-pattern>
  </servlet-mapping>
  <display-name>PracticeServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ForwardSampleServlet</display-name>
    <servlet-name>ForwardSampleServlet</servlet-name>
    <servlet-class>servlet.ForwardSampleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardSampleServlet</servlet-name>
    <url-pattern>/ForwardSampleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exRedirectServlet</display-name>
    <servlet-name>exRedirectServlet</servlet-name>
    <servlet-class>servlet.exRedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exRedirectServlet</servlet-name>
    <url-pattern>/exRedirectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HealthCheck</display-name>
    <servlet-name>HealthCheck</servlet-name>
    <servlet-class>servlet.HealthCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HealthCheck</servlet-name>
    <url-pattern>/HealthCheck</url-pattern>
  </servlet-mapping>
</web-app>